.Sign-Up {
  width: 1440px;
  height: 1024px;
  background-color: #d3f7ff;
}
.Rectangle-1 {
  width: 1236px;
  height: 812px;
  margin: 100px;
  box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}
.Ellipse-13 {
  width: 344px;
  height: 344px;
  margin: 0px 0px 0px 0px;
  border-radius: 50%;
  background-color: #f7c889;
}