{% extends "base.html" %}

{% block content %}

<h1>This is the graf test page</h1>


<br>
<br>

<h1>________________________________________________________________</h1>
<h1 style="color:green;">Consum\Potential generare</h1>
<h1>Max Point: </h1>
<h1>Y axis: </h1>
<h1 style="color: red;">Procente Rosu: </h1> 
<h1 style="color: blue;">Procente Albastru: </h1>

<h1>________________________________________________________________</h1>
<h1 style="color: green;">Costul Facturii</h1>
<h1>Max Point: </h1>
<h1>Y axis: </h1>
<h1 style="color: red;">Procente Rosu: </h1> 
<h1 style="color: blue;">Procente Albastru: </h1>

<h1>________________________________________________________________</h1>
<h1 style="color: green;">Castig Surplus</h1>
<h1>Max Point: </h1>
<h1>Y axis: </h1>
<h1 style="color: blue;">Procente Albastru: </h1>
{%endblock%}