{% extends "base.html" %}


{% block title %}Changed{% endblock %}

{% block content %}

<h1>This are the users:</h1>
<!-- {% for user in table_user %}
    <h4>{% print(user.id, user.name, user.email) %}</h4>
    {% endfor %} -->

<h1>Panou</h1>
<!-- Panourile sunt in table_user[0] -->
{% for i in range(4) %}

{%  if i == 0 %}

   <h1>Name: {% print(panouri[i].name) %} </h1> 
   <h1>Tip: {% print(panouri[i].type) %} </h1> 
   <h1>Putere: {% print(panouri[i].power) %} </h1>
   <h1>Length: {% print(panouri[i].length) %} </h1> 
   <h1>Width: {% print(panouri[i].width) %} </h1> 
   <h1>Price: {% print(panouri[i].price) %} </h1> 
   <!-- <h1>Name: {% print(panouri[i].power) %} </h1>  -->
   <!-- <h1>Name: {% print(panouri[i].power) %} </h1>   -->
   
{% elif i == 1%}
    <h1>Numar panouri: {% print(panouri[i]) %}</h1>

{% elif i == 2%}
    <h1>Putere totala: {% print(panouri[i]) %}</h1>

{% elif i == 3%}
    <h1>Pret total: {% print(panouri[i]) %}</h1>

{% endif %}

{% endfor %}

    <!-- <h1>Current: {% print(user) %}</h1> -->
{% endblock %}