<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Profile | Solar Solutions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href = "{{ url_for('static',filename='assets/img/favicon.png') }}">
    <link rel="stylesheet" type="text/css" href = "{{ url_for('static',filename='assets/css/profile.css') }}"/>
</head>
<body style=background:#e77e64;>
    <div class="wrapper">
        <div class="Rectangle-65">
            <img class="Elipse-17" src = "{{ url_for('static',filename='assets/img/Ellipse 17.svg') }}">
            <img class="Polygon-8" src = "{{ url_for('static',filename='assets/img/Polygon 8.svg') }}">
            <a href="Home.html"><img src = "{{ url_for('static',filename='assets/img/cancel-svgrepo-com 1.svg') }}" class="Exit"></a>
            <div class="Rectangle-62">
                <img class="Frame" src = "{{ url_for('static',filename='assets/img/frame2.svg') }}">
                <span class="profile2">
                  Profile
                </span>

                <img class="account-svgrepo-com-1" src = "{{ url_for('static',filename='assets/img/account-svgrepo-com 1.svg') }}">
                <div class="Line-12" contentEditable="true">  </div>
                <img class="envelope-svgrepo-com-1" src = "{{ url_for('static',filename='assets/img/envelope-svgrepo-com 1.svg') }}">
                <div class="Line-11"></div>
                <img class="phone-svgrepo-com-1" src = "{{ url_for('static',filename='assets/img/phone-svgrepo-com 1.svg') }}">
                <div class="Line-10"></div>
                <img class="key-svgrepo-com-1" src = "{{ url_for('static',filename='assets/img/key-svgrepo-com 1.svg') }}">
                <div class="Line-9"></div>

                <div class="block">
            <a href="Save.html" class="save">SAVE<img class="check" src = "{{ url_for('static',filename='assets/img/check-svgrepo-com 1.svg') }}"></a>
            <a href="/logout" class="logout">LOG OUT<imgclass="log" src = "{{ url_for('static',filename='assets/img/log-out-svgrepo-com 1.svg') }}"></a>
                </div>

            </div>
            <div class="Rectangle-63">
                <span class="Selected-county">
                  Selected county
                </span>
                <form>
            <select class="s1" name="select">
                <option value="Timiș">Timiș</option>
                <option value="fe">February</option>
                <option value="mar">March</option>
                <option value="ap">April</option>
                <option value="may">May</option>
                <option value="jun">June</option>
                <option value="jul">July</option>
                <option value="au">August</option>
                <option value="se">September</option>
                <option value="oc">October</option>
                <option value="no">November</option>
                <option value="de">December</option>
            </select>
        </form>
                <span class="Selected-city">
                  Selected city
                </span>
                <form>
            <select class="s1" name="select2">
                <option value="Timișoara">Timișoara</option>
                <option value="fe">February</option>
                <option value="mar">March</option>
                <option value="ap">April</option>
                <option value="may">May</option>
                <option value="jun">June</option>
                <option value="jul">July</option>
                <option value="au">August</option>
                <option value="se">September</option>
                <option value="oc">October</option>
                <option value="no">November</option>
                <option value="de">December</option>
            </select>
        </form>
            </div>
            <div class="Rectangle-64">
                <br><br>
                <span class="Surface Text-Style-21">Length:</span>
            <form class="inputtext">
                <label for="surface"></label>
                <input type="text" id="surface" name="surface">
            </form>
            <span class="Text-Style-22">m</span>
                <br><br><br>
                <span class="Surface Text-Style-23">Width:</span>
            <form class="inputtext">
                <label for="surface"></label>
                <input type="text" id="surface" name="surface">
            </form>
            <span class="Text-Style-22">m</span>
                <br><br><br>
                <span class="Surface Text-Style-21">Monthly consumption:</span>
            <form class="inputtext">
                <label for="surface"></label>
                <input type="text" id="surface" name="surface">
            </form>
            <span class="Text-Style-22">kW</span>
            </div>
        </div>
    </div>
</body>
</html>