<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Profile | Solar Solutions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href = "{{ url_for('static',filename='assets/img/favicon.png') }}">
    <link rel="stylesheet" type="text/css" href = "{{ url_for('static',filename='assets/css/profile.css') }}"/>
</head>
<body style=background:#e77e64;>
    <div class="wrapper">
        <div class="Rectangle-65">
            <img class="Elipse-17" src = "{{ url_for('static',filename='assets/img/Ellipse 17.svg') }}">
            <img class="Polygon-8" src = "{{ url_for('static',filename='assets/img/Polygon 8.svg') }}">
            <a href="/"><img src = "{{ url_for('static',filename='assets/img/cancel-svgrepo-com 1.svg') }}" class="Exit"></a>
            <div class="Rectangle-62">
                <img class="Frame" src = "{{ url_for('static',filename='assets/img/frame2.svg') }}">
                <span class="profile2">
                  Profile
                </span>

                <img class="account-svgrepo-com-1" src = "{{ url_for('static',filename='assets/img/account-svgrepo-com 1.svg') }}">
                <div class="Line-12" contentEditable="true">  </div>
                <img class="envelope-svgrepo-com-1" src = "{{ url_for('static',filename='assets/img/envelope-svgrepo-com 1.svg') }}">
                <div class="Line-11"></div>
                <img class="phone-svgrepo-com-1" src = "{{ url_for('static',filename='assets/img/phone-svgrepo-com 1.svg') }}">
                <div class="Line-10"></div>
                <img class="key-svgrepo-com-1" src = "{{ url_for('static',filename='assets/img/key-svgrepo-com 1.svg') }}">
                <div class="Line-9"></div>

                <div class="block">
            <a href="Save.html" class="save">SAVE<img class="check" src = "{{ url_for('static',filename='assets/img/check-svgrepo-com 1.svg') }}"></a>
            <a href="/logout" class="logout">LOG OUT<imgclass="log" src = "{{ url_for('static',filename='assets/img/log-out-svgrepo-com 1.svg') }}"></a>
                </div>

            </div>
            <div class="Rectangle-63">
                <span class="Selected-county">
                  Selected county
                </span>
                <form>
            <select class="s1" name="county" id="counties" onchange="cities_func('')">
                <script>

                    function counties(){
    
                        keys = Object.keys(orase)
                        console.log(keys.length)
                        console.log('here')
                        var min = 12,
                        max = 100,
                        select = document.getElementById('counties');
                    
                        for (var i = 0; i<keys.length; i++){
                            var opt = document.createElement('option');
                            opt.value = keys[i];
                            opt.innerHTML = keys[i];
                            
                            select.appendChild(opt);
                        }
    
                        
      
                    }
                </script>
            </select>
        </form>
                <span class="Selected-city">
                  Selected city
                </span>
                <form>
            <select class="s1" name="city" id="cities">
                <script>
            
                    window.onload = function(){
                        counties();
                        cities_func('Alba');
                    };
                  function cities_func(county_param){
    
                      selected_county = document.getElementById('counties').selectedOptions[0];
                      
                      county = selected_county.value;
    
                      if (county_param == 'Alba'){
                            county = 'Alba'   
                      } 
    
                      
    
                      console.log('BOOM')
                      console.log(county_param)
      
                      cities = orase[county];
                      
      
                      select = document.getElementById('cities');
                      while (select.firstChild) {
                          select.removeChild(select.firstChild)
                      }
                      for(let i=0; i<cities.length; i++){
                          var opt = document.createElement('option');
                              opt.value = cities[i];
                              opt.innerHTML = cities[i];
                              select.appendChild(opt);
                      }
                  }
              
                </script>
            </select>
        </form>
            </div>
            <div class="Rectangle-64">
                <br><br>
                <span class="Surface Text-Style-21">Length:</span>
            <form class="inputtext">
                <label for="surface"></label>
                <input type="text" id="surface" name="surface">
            </form>
            <span class="Text-Style-22">m</span>
                <br><br><br>
                <span class="Surface Text-Style-23">Width:</span>
            <form class="inputtext">
                <label for="surface"></label>
                <input type="text" id="surface" name="surface">
            </form>
            <span class="Text-Style-22">m</span>
                <br><br><br>
                <span class="Surface Text-Style-21">Monthly consumption:</span>
            <form class="inputtext">
                <label for="surface"></label>
                <input type="text" id="surface" name="surface">
            </form>
            <span class="Text-Style-22">kW</span>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static',filename='assets/js/orase.js') }}"></script>
</body>
</html>