<!DOCTYPE html>
<html>
<head>
	<title>SolarSolutions</title>
	<link rel="stylesheet" type="text/css"  href = "{{ url_for('static',filename='assets/css/Sign_Up.css') }}">
    <link rel="icon"  href = "{{ url_for('static',filename='assets/img/favicon.png') }}">
  <link rel="apple-touch-icon" href = "{{ url_for('static',filename='assets/img/apple-touch-icon.png') }}">
</head>
<body>
<img class="Ellipse-13" src = "{{ url_for('static',filename='assets/img/Ellipse%2013.svg') }}">
<img class="Polygon-7" src = "{{ url_for('static',filename='assets/img/Polygon%207.svg') }}">
<div class="container" id="container">
<div class="form-container sign-up-container">
<form action="">
	<h1>Sign Up</h1>
    <br>
    <br>
    <input type="username" name="username" placeholder="Username" required>
    <br>
	<input type="email" name="email" placeholder="Email" required>
    <br>
	<input type="password" name="password" placeholder="Password" required>
    <br>
    <input type="phonenumber" name="phonenumber" placeholder="Phone Number" required>
    <br>
    <br>
    <div class="custom-select" style="margin-left: -82%;">
        <select style="width:200%; height: 200%;" required id="counties" onchange="cities_func('')">


            <script>

                function counties(){

                    keys = Object.keys(orase)
                    console.log(keys.length)
                    console.log('here')
                    var min = 12,
                    max = 100,
                    select = document.getElementById('counties');
                
                    for (var i = 0; i<keys.length; i++){
                        var opt = document.createElement('option');
                        opt.value = keys[i];
                        opt.innerHTML = keys[i];
                        
                        select.appendChild(opt);
                    }

                    
  
                }
            </script>

        </select>
    </div>


    <div class="custom-select2" style="margin-left: 20%; margin-top: -4%;">
        <select style="width:200%; height:200%;" required id="cities">
          
            <script>
            
                window.onload = function(){
                    counties();
                    cities_func('Alba');
                };
              function cities_func(county_param){

                  selected_county = document.getElementById('counties').selectedOptions[0];
                  
                  county = selected_county.value;

                  if (county_param == 'Alba'){
                        county = 'Alba'   
                  } 

                  

                  console.log('BOOM')
                  console.log(county_param)
  
                  cities = orase[county];
                  
  
                  select = document.getElementById('cities');
                  while (select.firstChild) {
                      select.removeChild(select.firstChild)
                  }
                  for(let i=0; i<cities.length; i++){
                      var opt = document.createElement('option');
                          opt.value = cities[i];
                          opt.innerHTML = cities[i];
                          select.appendChild(opt);
                  }
              }
          
            </script>
          
          

          
        </select>
      </div>
    <br>
    <br>
    <br>
    <button>Create Account</button>
    <br>
    <p style="font-size: 12px;">By creating an account, you agree to Solar Solutions’</p>
    <p class="up">Terms and Conditions & Privacy Policy</p>
</form>
</div>
<div class="form-container sign-in-container">
<form action="#">
	<h1>Sign In</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
	<input type="email" name="email" placeholder="Email" required>
    <br>
    <br>
    <br>
	<input type="password" name="password" placeholder="Password" required>
    <br>
    <br>
    <br>
    <br>
    <br>
	<button class="in">Sign In</button>
    <a href="#">Forgot Your Password</a>
</form>
</div>
<div class="overlay-container">
	<div class="overlay">
		<div class="overlay-panel overlay-left">
            <img class="logo" src = "{{ url_for('static',filename='assets/img/Frame.svg') }}">
            <img class="casanoapte" src = "{{ url_for('static',filename='assets/img/casanoapte3.0.png') }}">
            <div class="bottom-left">
			    <p class="sign">Don't have an account?</p>
			    <button value="#d3f7ff" class="ghostup" id="signUp">SIGN UP</button>
		    </div>
        </div>
		<div class="overlay-panel overlay-right">
            <img class="logo"  src = "{{ url_for('static',filename='assets/img/Group%2011.svg') }}">
            <img class="casazi" src = "{{ url_for('static',filename='assets/img/casazi3.0.png') }}">
            <div class="bottom-right">
			    <p>Already have an account?</p>
			    <button value="#0c2346" class="ghostin" id="signIn">SIGN IN</button>
            </div>
		</div>
	</div>
</div>
</div>

<script type="text/javascript">
	const signUpButton = document.getElementById('signUp');
	const signInButton = document.getElementById('signIn');
	const container = document.getElementById('container');

	signInButton.addEventListener('click', () => {
		container.classList.add("right-panel-active");
	});
	signUpButton.addEventListener('click', () => {
		container.classList.remove("right-panel-active");
	});
</script>

<script type="text/javascript" src="{{ url_for('static',filename='assets/js/orase.js') }}"></script>

<script>
    
    function myfunc(){

        keys = Object.keys(orase)
        console.log(keys)
    }

</script>

</body>
</html>