{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}

<head>
    <!-- <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/h1_color.css') }}"> -->

</head>
<form method="POST">

    <h3 align="center"> Sign Up</h3>
    <div class = 'form-group'>

        <label for="name">Username</label>
        <input type="text" class="form-control" id="name" name="name" value="{{old_info[0]}}" placeholder='Enter username'>


        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" value="{{old_info[1]}}" placeholder="Enter email">

        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
        
        <label for="county">County</label>


        <select name="county" id="county" onchange="refresh()">
            {% for county in orase.keys()%}

                {% if county == old_info[2] %}
                    <option value="{{county}}" selected="selected">{{county}}</option>

                {% else %}
                    <option value="{{county}}" >{{county}}</option>  
                {% endif %}  
            {% endfor %}
        </select>

        <label for="city">City</label>
        <select name="city" id="city">
            {% for city in orase[old_info[2] ]%}
                {% if city == old_info[3]%}
                    <option value="{{city}}" selected>{{city}}</option>
                {% else %}
                    <option value="{{city}}">{{city}}</option>
                {% endif %}
            {% endfor %}
        </select>


        <script>
            function refresh(){
                
                document.getElementById('submit').click();
            }
        </script>

    </div>
    <br>

    <button type="submit" id = "submit" class="btn btn-primary" >Submit</button>
</form>

{% endblock %}