<!DOCTYPE html>
<html lang="en">
<!-- verificare-->
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Calculator | SolarSolutions</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Techie - v4.7.0
  * Template URL: https://bootstrapmade.com/techie-free-skin-bootstrap-3/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">
     <!-- <h1 class="logo"><a href="index.html">Techie</a></h1>
       Uncomment below if you prefer to use an image logo -->
       <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>


          
          <!--<li><a class="getstarted scrollto" href="#about">Get Started</a></li> -->
          <li class="dropdown"><a href="#"><span>Graphs</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Consum</a></li>
              <li><a href="#">Cost</a></li>
              <li><a href="#">Surplus</a></li>
            </ul>

            <li><a class="nav-link scrollto" href="#contact">Profile</a></li>
          </li>
        </ul>

        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <!-- <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Calculator</h2>

        </div>

      </div>
    </section> End Breadcrumbs -->

   <!-- <div class="container" style="margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;" > -->
      <div class="row"> 
        <div class="col-12" style="padding-right:0;">
          <section id="hero" class="align-items-center" style="overflow: auto;">
            <div class="row justify-content-center" style="margin-top:-1%;"  >
              <div class=" col-lg-10 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column text-center">
         
          <h1 style="font-size: 30px; padding-bottom: 3%;">Based on the collected data, we think that these systems will be suitable for you:</h1>
                
            
          <div class="row p-2  border rounded" style="  background-color: white; box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);">
            <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="./assets/img/casanoapte3.0.png"></div>
            <div class="col-md-6 mt-1">
      
                <h5 style="font-weight: bold; font-size: 25px; margin-right: -15%;">Recommended panel's details</h5>
                <br>
                
                <div class=" row spec-1" style="margin-right:60%;"><span>Name</span>
                  <span style="margin-top: 3%;">Type</span>
          
                  <span style="margin-top: 3%;">Power<br></span>
                  <br>
                  </div>
                <div class="spec-1 row " style="margin-right:60%;"><span style="margin-top: 3%;">Length</span><span style="margin-top: 3%;">Width</span><span style="margin-top: 3%;">Price<br></span><br><br><span style="margin-top: 3%;"><b>Price for all panels</b></span></div>
                <br>

            </div>
            <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                <div class="d-flex flex-row align-items-center">
                </div>
                
                
                <div class="d-flex flex-column mt-4" style="margin-right: 20%;">
                
                  <h5 style="font-weight: bold; font-size: 25px; margin-right: -15%;">How many panels will you need?</h5>
                  <br><br>

                  <h6 style="font-weight: bold; font-size: 55px; margin-right: -15%;">10</h6>

                </div>
           
          </div>
          <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="./assets/img/casanoapte3.0.png"></div>
          <div class="col-md-6 mt-1">
      
            <h5 style="font-weight: bold; font-size: 25px; margin-right: -15%;">Recommended battery's details</h5>
            <br>
            
            <div class=" row spec-1" style="margin-right:60%;"><span>Name</span>
              <span style="margin-top: 3%;">Type</span>
      
              <span style="margin-top: 3%;">Capacity<br></span>
              <br>
              </div>
            <div class="spec-1 row " style="margin-right:60%;"><span style="margin-top: 3%;">Voltage</span><span style="margin-top: 3%;">Price<br></span><br><br><span style="margin-top: 3%;"><b>Price for all batteries</b></span></div>
            <br>
        </div>
        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
          <div class="d-flex flex-row align-items-center">
          </div>
          
          
          <div class="d-flex flex-column mt-4" style="margin-right: 20%;">
          
            <h5 style="font-weight: bold; font-size: 25px; margin-right: -15%;">How many batteries will you need?</h5>
            <br><br>

            <h6 style="font-weight: bold; font-size: 55px; margin-right: -15%;">10</h6>

          </div>
     
    </div>



          
          <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="./assets/img/casanoapte3.0.png"></div>
          <div class="col-md-6 mt-1">
      
            <h5 style="font-weight: bold; font-size: 25px; margin-right: -15%;">Recommended inverter's details</h5>
            <br>
            
            <div class=" row spec-1" style="margin-right:60%;"><span>Name</span>
              <span style="margin-top: 3%;">Type</span>
      
              <span style="margin-top: 3%;">Power<br></span>
              <br>
              </div>
            <div class="spec-1 row " style="margin-right:60%;"><span style="margin-top: 3%;">Charging</span><span style="margin-top: 3%;">Price</span><br><br><span style="margin-top: 3%;"><b>Price for all inverters</b></span></div>
            <br>
        </div>
        <div class="align-items-center align-content-center col-md-3 border-left mt-1">
          <div class="d-flex flex-row align-items-center">
          </div>

          <div class="d-flex flex-column mt-4" style="margin-right: 20%;">
          
            <h5 style="font-weight: bold; font-size: 25px; margin-right: -15%;">How many inverters will you need?</h5>
            <br><br>

            <h6 style="font-weight: bold; font-size: 55px; margin-right: -15%;">10</h6>

          </div>
          
          
   

          
     
    </div>
            
    <h1 style="font-size: 30px; padding-bottom: 3%;">Total price:</h1>
          </div>
          
        
          </div>
          </div>

        </section>
     
        </div>

      </div>
      <div class="row"> 

      </div>

  <!--  </div> -->



  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" >



    <div class="container">

      <div class="copyright-wrap d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            &copy; Copyright <strong><span>SolarSolutions <script>document.write(new Date().getFullYear());</script></span></strong>. All Rights Reserved.
          </div>
          <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/techie-free-skin-bootstrap-3/ -->
           <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> ->
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

    </div>
  </footer>End Footer -->
</footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>