.Profile {
  width: 1440px;
  height: 1024px;
  flex-grow: 0;
  padding: 115px 102px 97px;
  background-color: #e77e64;
}
.Rectangle-65 {
  width: 1236px;
  height: 812px;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}
img {
  padding: 528px 0px 0px 0px;
  object-fit: contain;
  border-bottom-left-radius: 8px;
}
